#takehome{
    background-color: white;
    border-radius: 25px;
    margin-top: 10%;
    margin-right: 10%;
    padding: 2%;
}

#takehome p{
    color: cornflowerblue;
    font-size: 1.5rem;
}

.Title{
    font-size: 2rem;
}

.subtitle{
    font-size: 1.5rem;
}

.description{
    text-align: left;
    font-size: 1rem;
}

.fillupspace{
    width:100%
}

.card-text{
    font-size: 1rem;
}

.list-group-item{
    font-size: 1rem;
}

.dividerdesc{
    font-size: 1.5rem;
}

.fullrow .dividerdesc{
    margin-left: 10%;
    margin-right: 10%;
}

.card-link{
    font-size: 1rem;
}

.carousel-item .card{
    width: 100% !important
}

#carouselActivities{
    background-color: cornflowerblue;
    margin: 0%;
    height: 55rem !important;
    overflow: hidden;
}

#blockActivities{
    background-color: cornflowerblue;
    margin: 0%;
    height:auto;
    padding: 2%;
}

#blockActivities .card{
    height:100%;
    margin-top:0%;
}

#carouselActivities .card{
    height:100%;
    margin-top:0%;
}

#carouselActivities .card img{
    height:32%;
    object-fit: cover;
}

#carouselActivities .carousel-control-prev{
    width: 5%;
}

#carouselActivities .carousel-control-next{
    width: 5%;
}

.carousel-inner{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.card-body p{
    font-size: 1rem;
}

.card-link{
    margin: 0%;
    padding:0%;
}
.card{
    margin-top: 5%;
}

.marginrow{
    margin-top: 2%;
    margin-bottom: 2%;
}
#packageCarousel{
    max-height: 20rem;
}
#packageCarousel img{
    max-height: 30rem;
    object-fit: fill;

}

.rolerow{
    background-color: cornflowerblue;
    color: white;
    border-radius: 25px;
    padding: 5%;
}

.roletitle{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.roledescription{
    text-align: left;
    font-size: 1rem;
}

.rolerow::before {
    content:"";
    position: absolute;
    inset: 3px;
    transform: translate3d(10px,10px,-1px);
    background: conic-gradient(from 90deg at 40% -25%, grey, grey);
    filter: blur(10px);
    border-radius: inherit;
    z-index: -1;
}

.fullrow .col-sm-12{
    padding: 0%;
}

@media screen and (max-width: 1200px) {
    #takehome{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    
    .divider{
        margin-left: 0%;
        margin-right: 0%;
    }
    .divider .row{
        margin-left: 0%;
        margin-right: 0%;
    }
    .col-sm-12 {
        padding: 0%;
    }

    .dividerdesc{
        font-size: 1rem;
    }

    #introProjects{
        margin: 5%;
        display: none;
    }

    #packageCarousel{
        height: auto;
        max-height: fit-content;
    }
    .roledescription{
        margin-left: 5%;
        margin-right: 5%;
    }
    #carouselimages .carousel-inner{
        padding: 0%;
    }
    #experiencecarousel .carousel-inner{
        padding: 0%;
    }
    #packageCarousel .carousel-inner{
        padding: 0%;
    }
    #carouselstoryword .carousel-inner{
        padding: 0%;
    }
    .otherproject .col-sm-12 {
        padding-right: 2%;
    }
}