.button-link{
    background-color: white;
    color: cornflowerblue;
    border-radius: 25px;
    padding: 2%;
    text-align: center;
}

.divider{
    margin-bottom: 0%;
    margin-top: 2%;
}

.Title{
    margin-bottom: 2%;
    color: cornflowerblue;
}

.card{
    background-color: cornflowerblue;
    border-radius: 25px;
    margin: 1%;
    height: 100%;
}

.card-header{
   background-color: transparent; 
}

.papertitle{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0%;
}

.authors{
    color: white;
    font-size: 1.2rem;
    margin: 0%;
}

.btn{
    padding: 0%;
}

.year{
    color: white;
    font-size: 1.2rem;
}

.abstract{
    color:white;
    font-size: 1rem;
    text-align: left;
}

.location{
    font-size: 1rem;
    color: white;
    text-align: left;
    font-weight: bold;
}

.link{
    font-size: 1rem;
    background-color: white;
    color: cornflowerblue;
    border-radius: 25px;
    padding: 2%;
    text-align: center;
}

.refproject{
    font-size: 1rem;
    background-color: white;
    color: cornflowerblue;
    border-radius: 25px;
    padding: 2%;
    text-align: center;
}

#thesislist{
    font-size: 1rem;
    text-align: left;
}

.abstract ul li{
    color:white;
    font-size: 1rem;
    text-align: left;
}

.abstract a{
    color:white;
}

.skilltext{
    color:white;
    font-size: 1rem;
}

.skilltitle{
    color:white;
    font-size: 1.5rem;
}

.iconskillimage{
   width: 40%;
   padding-top: 6%;
   align-self: center; 
}

.paddingrow{
    padding-top: 1%;
    padding-bottom: 1%;
}

.tab-paper{
    font-size: 1rem;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}
.tab-paper .nav-link{
    color: cornflowerblue;
    background-color: white;
}
.tab-paper .nav-link.active{
    color: white;
    background-color: cornflowerblue;
    border-radius: 25px;
}

.tab-content{
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .authors{
        font-size: 1rem;
        text-align: left;
    }
    .papertitle{
        text-align: left;
    }

    .card-header{
        padding: 0%;
    }
    .card-header .col-md-10{
        padding: 0%;
    }
    .card-body .row{
        margin: 0%;
    }
    .card-body .col-md-8{
        padding: 0%;
    }
    .card-body .col-md-4{
        padding: 0%;
    }

    .studyplan{
        text-align: left;
    }

    .skillbox{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .paddingrow{
        padding: 0%;
    }
}